<p>Login Page</p>
<p>This page is for logging into TeleCord, please put in your Username + Email into the Form Below</p>
<p>*Note: that your information will be stored inside of LocalStorage, and you should use the Logout button to logout at any time!</p>

<div class="container"> 
    <router-outlet></router-outlet> 
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
      <input type="text" id="email" class="fadeIn third" name="email" placeholder="email" ngModel>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" ngModel>
      <!--<input type="text" id="password" class="fadeIn third" name="password" placeholder="password" ngModel>-->
      <button>Login</button>
    </form>
</div>