<nav class="navbar navbar-default"> 
    <div class="container-fluid"> 
      <ul class="nav navbar-nav"> 
        <li class="active"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li> 
        <li> <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li> 
        <li><a class="nav-link" routerLink="/group" routerLinkActive="active">Groups</a></li>
        <li><a class="nav-link" routerLink="/users" routerLinkActive="active">Profile</a></li>
        <li><a class="nav-link" routerLink="/chat" routerLinkActive="active">Chat</a></li> 
      </ul> 
    </div> 
  </nav> 
  <div class="container"> 
  <router-outlet></router-outlet> 
  </div>
  <form #loginForm="ngForm" (ngSubmit)="logout()">
    <button>Logout</button>
  </form>

<router-outlet></router-outlet>
